
 <datalist id="unitlist">
      <% unittable.forEach(function(result) { %>
 
    <option>
                                       <%= result.name %>
                                    </option>
                                    <%  }); %>
  </datalist>

    <datalist id="itemnamelist">
      <% itemtable.forEach(function(result) { %>
 
    <option value='<%= result.itemname %>'>
                                       <%= result.itemgroup %>
                                    </option>
                                    <%  }); %>
  </datalist>

   <datalist id="itemgrouplist">
      <% itemgrouplist.forEach(function(result) { %>
 
    <option value='<%= result.itemgroupname%>'>
                                       <%= result.itemgroupname %>
                                    </option>
                                    <%  }); %>
  </datalist>


 <datalist id="categorylist">
      <% itemcategorylist.forEach(function(result) { %>
 
    <option value='<%= result.categoryname%>'>
                                       <%= result.categoryname %>
                                    </option>
                                    <%  }); %>
  </datalist>