<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <link rel="stylesheet" href="https://unpkg.com/nepali-date-picker@2.0.0/dist/nepaliDatePicker.min.css" integrity="sha384-Fligaq3qH5qXDi+gnnhQctSqfMKJvH4U8DTA+XGemB/vv9AUHCwmlVR/B3Z4nE+q" crossorigin="anonymous">

    <style>

    ul.usermanagementlist li
    {
        margin-bottom:-4px;
    }
    nav.dashboard > a:hover
    {
        background-color:grey;
        width:100%;
    }

    .manageuseractive
{
    background-color:black;
}
    a
    {
        margin-left:8px;
        margin-right:8px;
        color:black !important;
        text-decoration:none !important;
    }
    </style>
</head>


<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
    <% include ../pages/settingsidebar %>
    <div class="ml-5  col-md-8">
    <h3>User group</h3>
    <div class="row mt-3">
    <div style="position:relative;height:200px;box-shadow: 2px 2px 4px 4px;" class="col-md-5  border border-dark p-2">
    <h3 class="text-center bg-dark p-2 m-0 mb-2" style="background-color:white;  color:white;">User Group(Add)</h3>
    <input type="text" class="form-control d-inline w-75 usergroupadd" placeholder="Usergroup">
    <button class="btn d-inline btn-outline-primary" onclick="javascript:addusergroup(event)">Add</button>
    </div>
    <div style="max-height:300px;overflow-y:scroll; box-shadow: 2px 2px 4px 4px;" class="col-md-6 ml-4 table-responsive border border-dark p-2">
   
    <h3 class="text-center bg-dark p-2 m-0 mb-2" style="background-color:white;  color:white;">User Group (Edit)</h3>
  <table class="table text-center usergrouplist">
  <tr>
  <th>Usergroup</th>
  <th>Edit</th>
  <th>Delete</th>
  </tr>
  <% usergrouplistresult.forEach(function(result) { %>
  <tr>
  <td><input class="text-center realusergroup-<%= result.id %> mt-1 border border-0 " readonly value="<%= result.groupname %>"><input style="display:none;" class="text-center dummyusergroup-<%= result.id %> mt-1"  value="<%= result.groupname %>"></td>
  <td><button class="btn btn-success edit-<%= result.id %>" id="<%= result.id %>"  onclick="javascript:editusergroup(event)"><i class="fa fa-edit text-white"></i></button><button  class="btn btn-success mr-2 save-<%= result.id %>" id="<%= result.id %>" onclick="saveusergroup(event)" style="display:none;"><i class="fa fa-send text-white" ></i></button><button class="btn btn-danger cancel-<%= result.id %> " id="<%= result.id %>" style="display:none;" onclick="cancelusergroup(event)"><i class="fa fa-times text-white"></i></button></td>
  <td><a class="btn btn-danger" onclick="deleteusergroup(event)" id="<%= result.id %>"><i class="fa fa-trash text-white"></i></button></td>
  </tr>
  <% }) %>
  </table>
    </div>
    </div>
    </div>
    </div>
    </main>
<script>
function editusergroup(e)
{
    var targetid= e.target.id;
    alert(targetid);
$(`.save-${targetid}`).show();
$(`.cancel-${targetid}`).show();
$(`.dummyusergroup-${targetid}`).show();
$(`.realusergroup-${targetid}`).hide();


$(`.edit-${targetid}`).hide();
}

function cancelusergroup(e)
{
    var targetid= e.target.id;
    alert(targetid);
$(`.save-${targetid}`).hide();
$(`.cancel-${targetid}`).hide();
$(`.dummyusergroup-${targetid}`).hide();
$(`.realusergroup-${targetid}`).show();
$(`.edit-${targetid}`).show();
}

function saveusergroup(e)
{
        var targetid= e.target.id;
    alert(targetid);
    var editusergroup=$(`.dummyusergroup-${targetid}`).val();
    alert(editusergroup);

$.ajax({
url:'/editusergroup',
type:'post',
data:{editusergroup:editusergroup,id:targetid},
success:function(data)
{    
$(`.save-${targetid}`).hide();
$(`.cancel-${targetid}`).hide();
$(`.dummyusergroup-${targetid}`).hide();
$(`.realusergroup-${targetid}`).show();
$(`.edit-${targetid}`).show();
$(`.realusergroup-${targetid}`).val(editusergroup);
location.reload();
},
error:function(data)
{
    Swal.fire("Usergroup already exists");
}
})
}

function addusergroup(e)
{
var targetid= e.target.id;
var usergroupname= $('.usergroupadd').val();
$('.usergroupadd').val('');
$.ajax({
    url:"/saveusergroup",
    type:"post",
    data:{usergroupname:usergroupname},
    success:function(data)
    {
        Swal.fire("Usergroup added Successfully");
        location.reload();
    },
    error:function(data)
    {
        Swal.fire("Usergroup already exist");
    }
})
}



function deleteusergroup(e)
{
    var targetid= e.target.id;
    alert(targetid);
    var usergroup= $(`.realusergroup-${targetid}`).val();

    $.ajax({
url:'/deleteusergroup',
type:'post',
async:false,
data:{id:targetid,usergroup:usergroup},
success:function(data)
{    
return new Promise((resolve,reject)=>
{
resolve();
})
.then(()=>
{
Swal.fire("Usergroup deleted successfully");
}).then(()=>
{
location.reload();
})
},
error:function(data)
{
    Swal.fire("Usergroup cannot be deleted");
}
})

}



</script>
    </body>
    </html>
